@import "_shared";

.wp-block-llms-lite-lms-progress-tracker {
	position: relative;

	.llms-lite-lms-progress-tracker--inner-wrap {
		@include clearfix();
	}

	&::before {
		background: rgba(250, 250, 250, 0.8);
		bottom: 0;
		display: block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		content: '';
		z-index: 2;
	}
	&::after {
		animation: llms-lite-lms-spinning 1.5s linear infinite;
		box-sizing: border-box;
		border: 4px solid #313131;
		border-radius: 50%;
		height: 40px;
		left: 50%;
		margin-left: -20px;
		margin-top: -20px;
		position: absolute;
		top: 50%;
		width: 40px;
		display: block;
		content: '';
		z-index: 3;
	}

	&.ready {
		&::after,
		&::before {
			animation: llms-lite-lms-fade-out 300ms linear forwards;
		}
	}
}

@keyframes llms-lite-lms-spinning {
	0% {
		transform: rotate(0deg);
	}
	50% {
		border-radius: 5%;
	}
	100% {
		transform: rotate(220deg);
	}
}
@keyframes llms-lite-lms-fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		z-index: -1;
	}
 }
