@import "_shared";

.wp-block[data-type="llms-lite-lms/progress-tracker"] {
	clear: both;
	overflow: hidden;
}
.wp-block-llms-lite-lms-progress-tracker {

	p.llms-lite-lms-msg--incomplete,
	p.llms-lite-lms-msg--complete {
		padding: 5px;
		border: 1px solid #f0f0f0;
	}

}
